@import url(../node_modules/react-select/dist/react-select.css);
.weather-body {
  padding-top: 20px;
  background: linear-gradient(gray, black);
  color: white;
  height: 100vh;
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

.current-weather-indicator-container {
  color: white;
  text-align: center; }

.weather-forecast-item-container {
  text-align: center; }

.weather-details-item-container {
  text-align: center; }

div .Select-control > .Select-value {
  background-color: red;
  border: 1px solid rgba(153, 153, 153, 0.24);
  color: red; }

div .Select-control > .Select-value > .Select-value-icon {
  border-right: 1px solid rgba(153, 153, 153, 0.24); }

div .Select-control > .Select-value > .Select-value-label, .Select-value > a {
  color: red; }

div .Select-value {
  background-color: transparent !important;
  padding: 0 !important; }

div.is-focused > .Select-control {
  background-color: transparent !important; }

div .Select-value-label {
  background-color: transparent !important; }

div .Select-control {
  background-color: transparent !important;
  border-width: 0 !important;
  border-color: transparent !important; }

div .is-focused {
  background-color: transparent; }

div .is-open {
  background-color: transparent; }

.Select-clear-zone {
  display: none; }

.Select-arrow-zone {
  display: none; }

html {
  background-color: #f2f2f2; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
